/**
 * Adjust box sizing on site.
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Adjust font size for easier px to rem conversion.
 */
html {
    font-size: 62.5%;
}

/**
 * Side wide custom properties.
 */
:root {
    --base-width-max-width: 120rem;
    --base-width-side-margin: 2rem;

    /* colors */
    --color-black: #000;
    --color-white: #FFF;
    --color-primary: hsl(185, 75%, 39%);
    --color-primary-desaturated: hsl(229, 23%, 23%);
    --color-secondary: hsl(227, 10%, 46%);
    --color-secondary-neutral: hsl(0, 0%, 59%);
    --color-rule-default: #E7E7E7;

    /* font-sizes */
    --font-size-80: 1.2rem;
    --font-size-90: 1.5rem;
    --font-size-100: 1.8rem;
}

/**
 * Remove annoying empty space below inline-block elements.
 */
img,
[style*='inline-block' i],
svg,
canvas,
picture {
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/kumbh-sans-v10-latin/kumbh-sans-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/kumbh-sans-v10-latin/kumbh-sans-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/kumbh-sans-v10-latin/kumbh-sans-v10-latin-700.woff2') format('woff2'),
    url('../fonts/kumbh-sans-v10-latin/kumbh-sans-v10-latin-700.woff') format('woff');
}

body {
    font: 1.6rem/1.6 'Kumbh Sans';
    background-color: var(--color-primary);
    background-image: url('../../images/bg-pattern-top.svg'), url('../../images/bg-pattern-bottom.svg');
    background-position: left -30.7rem top -48.9rem, right -23.5rem bottom -63.1rem;
    background-repeat: no-repeat;
}

@media (max-width: 375px) {
    body {
        background-position: left -75rem top -66rem, right -77rem bottom -55rem;
    }
}

/**
 * Sticky footer.
 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > header,
body > footer {
    flex: 0 0 auto;
}

body > main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

/**
 * Add base width to handle horizontal alignment.
 */
.base-width {
    width: calc(100% - (2 * 2rem));
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
}

@supports (color: var(--color-white)) {
    .base-width {
        width: calc(100% - (2 * var(--base-width-side-margin)));
        max-width: var(--base-width-max-width);
    }
}

/**
 * Tile Profile.
 */
:root {
    --tile-profile-width: 35rem;
    --tile-profile-header-aspec: calc(140 / 350 * 100%);
    --tile-profile__picture-size: 10.8rem;
}

@media (max-width: 375px) {
    :root {
        --tile-profile-width: 100%;
        --tile-profile-header-aspec: calc(140 / 326 * 100%);
    }
}

.tile-profile {
    overflow: hidden;
    width: var(--tile-profile-width);
    border-radius: 1.6rem;
    text-align: center;
    background-color: var(--color-white);
    box-shadow: -6px 5px 7px 5px rgb(0 0 0 / 5%), 5px 10px 10px 5px rgb(0 0 0 / 5%);
}

.tile-profile::before {
    content: '';
    display: block;
    min-height: calc(var(--tile-profile__picture-size) / 2 + 2rem);
    padding-top: var(--tile-profile-header-aspec);
    background-image: url(../../images/bg-pattern-card.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tile-profile__picture {
    overflow: hidden;
    border-radius: 50%;
    width: var(--tile-profile__picture-size);
    height: var(--tile-profile__picture-size);
    max-width: 100%;
    margin-top: calc(10.8rem / -2);
    margin-right: auto;
    margin-left: auto;
    border: solid 6px #FFF;
}

.tile-profile__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile-profile__title {
    margin-top: 2rem;
    margin-bottom: .4rem;
    font-size: var(--font-size-100);
    font-weight: 700;
    line-height: 1.2;
}

.tile-profile__title-meta {
    display: inline-block;
    margin-left: .8rem;
    font-weight: 400;
    color: var(--color-secondary-neutral);
}

.tile-profile__subtitle {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: var(--font-size-90);
    font-weight: 400;
    color: var(--color-secondary-neutral);
}

.tile-profile__footer {
    margin-top: 2.2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-top: solid 1px var(--color-rule-default);
}

/**
 * Meta info module.
 */
.meta-info {
    font-size: var(--font-size-80);
    color: var(--color-secondary);
    letter-spacing: .07em;
}

.meta-info__title {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--font-size-100);
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.2;
    color: var(--color-black);
}

/**
 * Meta list module.
 */
.meta-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.meta-list__item {
    padding: 1rem .4rem;
    flex: 0 1 6em;
}
