/**
 * Adjust box sizing on site.
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Adjust font size for easier px to rem conversion.
 */
html {
    font-size: 62.5%;
}

/**
 * Side wide custom properties.
 */
:root {
    --base-width-max-width: 120rem;
    --base-width-side-margin: 2rem;

    /* colors */
    --color-primary: hsl(185, 75%, 39%);
    --color-primary-desaturated: hsl(229, 23%, 23%);
    --color-secondary: hsl(227, 10%, 46%);
    --color-secondary-neutral: hsl(0, 0%, 59%);

    /* font-sizes */
    --font-size-90: 1.6rem;
    --font-size-100: 1.8rem;
}

body {
    font: 1.6rem 'Kyumbh Sans';
}

/**
 * Add base width to handle horizontal alignment.
 */
.base-width {
    width: calc(100% - (2 * 2rem));
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
}

@supports (color: var(--color)) {
    .base-width {
        width: calc(100% - (2 * var(--base-width-side-margin)));
        max-width: var(--base-width-max-width);
    }
}

/**
 * Remove annoying empty space below inline-block elements.
 */
img,
[style*='inline-block' i],
svg,
canvas,
picture {
    vertical-align: middle;
}
